<div class="container">
    <nav mat-tab-nav-bar>


      <a mat-tab-link [routerLink]="['/']"  ><span matBadge="1" matBadgeOverlap="false">Dias</span> </a>
          <a mat-tab-link [routerLink]="['/privileges']" ><span matBadge="2" matBadgeOverlap="false">Privilégios</span></a>
            <a mat-tab-link [routerLink]="['/dayprivileges']" ><span matBadge="3" matBadgeOverlap="false"> Dias X Privilégios</span></a>
            <a mat-tab-link [routerLink]="['/users']" ><span matBadge="4" matBadgeOverlap="false">Varões</span></a>
            <a mat-tab-link [routerLink]="['/userprivileges']" ><span matBadge="5" matBadgeOverlap="false">Varões X Privilégios</span></a>
            <a mat-tab-link [routerLink]="['/generations']" ><span matBadge="6" matBadgeOverlap="false">Geração</span></a>
    </nav>
<router-outlet></router-outlet>
</div>

